[Unit]
Description=Send tmate session id over telegram
After=network.target

[Service]
User=fork
WorkingDirectory=/home/fork/
ExecStart=/usr/bin/tmateSender
Restart=always

[Install]
WantedBy=multi-user.target
